# Node.js
node_modules/
npm-debug.log
yarn-debug.log
.pnpm-store/

# Logs
*.log
logs/


# VS Code
.vscode/

# Production Build (React/Vite)
frontend/dist/
frontend/build/

# Compiled output (backend)
/backend/dist/
/backend/build/

# Environment variables for backend and frontend
/backend/.env
/frontend/.env.local
/frontend/.env.*.local

# Frontend specific 
.vite/
temp_auto_push.bat
temp_interactive_push.bat
config.bat
